.sidebar {
    width: 260px;
    background-color: #0a7273;;
    height: 100vh;
    padding: 20px;
    color: white;
    position: fixed;
}

.sidebar-menu1 {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-item {
    margin: 5px 0;
}

.sidebar-link {
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: white;
}

.sidebar-link i {
    margin-right: 10px;
}

.sidebar-item span {
    font-size: 0.9rem;
}


/*interface*/
.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
}

/*linea*/
.sidebar-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 10px 0;
}

.submenu1 {
    background-color: white;
    color: black;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
.submenu1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.submenu-item1 {
    display: block;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.submenu-item1:hover {
    background-color: #00695c; /* Color de fondo al pasar el ratón */
    border-radius: 4px;
    cursor: pointer;
}

.submenu1 ul li + li {
    margin-top: 5px; /* Espacio entre las filas del submenú */
}


